# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# Build and unit tests
settings.xml
test-output/
target/

# OS
.DS_Store

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
